body {
	background: url('http://upload.wikimedia.org/wikipedia/commons/7/7f/Hockey_goal_cmd_2004.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	color: white;
	text-align: center;
}

h2 {
	color: white;
}
