<!-- new user form -->
<!DOCTYPE html>
<html>
<head>

  <title>Sportsbook</title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>

<%= yield %>



<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

</body>
</html>
